@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
	--mamabear-light-pink: #FACBD8;
	--mamabear-dark-pink: #D5557E;
	--mamabear-brown: #6C4735;
	--mamabear-font-1: 1.5rem;
	--mamabear-font-2: 1.25rem;
	--mamabear-font-3: 1rem;
	--mamabear-font-4: 0.875rem;
}